install Splunk Enterprice
download Buttercup Games Dataset for training

Searching:

    Write search bar to category, and you will see all category in this Dataset
    Click the categoryid=sports and search.

    If you want to find out how many errors have occurred on the Buttercup Games website.You can Write
    buttercupgames (error OR fail* OR severe)



Fields:
    clientip = for IP adresses accessing your web server
    _time= for the timestamp
    host = for domain name of a server
    From = will contain only a single email adress
    To and cc fields = have one or more email adresses associated with them

    field_name = field_value

    sourcetype=access_*